In [26]:
import pandas as pd
from sqlalchemy import create_engine

In [27]:
phosphate_path = "../data/phosphate fertilizer use per hectare of cropland 2017.csv"
potassium_path = "../data/potassium use per hectare of cropland 2017.csv"



phosphate_df = pd.read_csv(phosphate_path)
potassium_df = pd.read_csv(potassium_path)


combined_df = pd.merge(phosphate_df, potassium_df, how='outer')

combined_df

,Entity,Code,Year,Fertilizers indicators - Nutrient phosphate P2O5 (total) - 3103 - Use per area of cropland - 5159 - kg/ha,Fertilizers indicators - Nutrient potash K2O (total) - 3104 - Use per area of cropland - 5159 - kg/ha
0,Afghanistan,AFG,2002,0.00,0.00
1,Afghanistan,AFG,2003,0.84,0.00
2,Afghanistan,AFG,2004,1.36,0.00
3,Afghanistan,AFG,2005,1.16,0.01
4,Afghanistan,AFG,2006,0.56,0.00
...,...,...,...,...,...
2998,Yemen,YEM,2007,NaN,1.84
2999,Yemen,YEM,2008,NaN,0.79
3000,Yemen,YEM,2009,NaN,0.21
3001,Yemen,YEM,2010,NaN,0.76
3002,Yemen,YEM,2011,NaN,0.41

In [28]:
combined_df = combined_df.rename(columns=
                                 {'Entity':'Country/Continent',
                                  'Fertilizers indicators - Nutrient phosphate P2O5 (total) - 3103 - Use per area of cropland - 5159 - kg/ha':'Phosphate_use_per_area_kg_per_ha',
                                  'Fertilizers indicators - Nutrient potash K2O (total) - 3104 - Use per area of cropland - 5159 - kg/ha':'Potah_use_per_area_kg_per_ha'})
combined_df

,Country/Continent,Code,Year,Phosphate use per area kg/ha,Potah use per area kg/ha
0,Afghanistan,AFG,2002,0.00,0.00
1,Afghanistan,AFG,2003,0.84,0.00
2,Afghanistan,AFG,2004,1.36,0.00
3,Afghanistan,AFG,2005,1.16,0.01
4,Afghanistan,AFG,2006,0.56,0.00
...,...,...,...,...,...
2998,Yemen,YEM,2007,NaN,1.84
2999,Yemen,YEM,2008,NaN,0.79
3000,Yemen,YEM,2009,NaN,0.21
3001,Yemen,YEM,2010,NaN,0.76
3002,Yemen,YEM,2011,NaN,0.41

In [29]:
combined_df = combined_df.loc[combined_df['Phosphate_use_per_area_kg_per_ha'] > 0.1, ]
combined_df

,Country/Continent,Code,Year,Phosphate use per area kg/ha,Potah use per area kg/ha
1,Afghanistan,AFG,2003,0.84,0.00
2,Afghanistan,AFG,2004,1.36,0.00
3,Afghanistan,AFG,2005,1.16,0.01
4,Afghanistan,AFG,2006,0.56,0.00
8,Afghanistan,AFG,2010,0.12,0.00
...,...,...,...,...,...
2984,Zimbabwe,ZWE,2013,5.78,3.66
2985,Zimbabwe,ZWE,2014,7.66,4.93
2986,Zimbabwe,ZWE,2015,7.22,4.73
2987,Zimbabwe,ZWE,2016,9.59,7.95
2988,Zimbabwe,ZWE,2017,9.59,7.95

In [49]:
combined_filterd_df= combined_df[combined_df['Potah_use_per_area_kg_per_ha'] < 0.1]

combined_filterd_df

,Country/Continent,Code,Year,Phosphate use per area kg/ha,Potah use per area kg/ha
1,Afghanistan,AFG,2003,0.84,0.00
2,Afghanistan,AFG,2004,1.36,0.00
3,Afghanistan,AFG,2005,1.16,0.01
4,Afghanistan,AFG,2006,0.56,0.00
8,Afghanistan,AFG,2010,0.12,0.00
...,...,...,...,...,...
2646,Syria,SYR,2013,6.55,0.09
2665,Tanzania,TZA,2007,0.77,0.02
2666,Tanzania,TZA,2008,0.71,0.02
2841,Uruguay,URY,2007,75.12,0.00
2949,Yemen,YEM,2005,0.57,0.06

In [50]:
combined_filterd_df.to_csv('combined_fertilizer')